form.search input[type=text] {
  font-size: 28px;
  width: 100%;
  background: #f1f1f1;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid grey;
}

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

form.search button {
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  width: 35px;
  height: 36px;
  border-left: none;
  background: #2196F3;
  color: white;
  border: 1px solid grey;
  position: relative;
  top: -4px;
}

.title h1 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 150px;
}

.history  {
  text-align: center;
}

.history button {
  position: relative;
  top: -15px;
  width: auto;
  height: 30px;
  font-size: 16px;
}

#historyText {
  text-align: center;
  padding-top: 50px;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}