#answer {
  border: 2px solid;
  border-radius: 3px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-color: green;
  font-size: 13pt;
}

#icon {
  width: 9px !important;
  height: 9px !important;
  margin-left: -15px !important;
}

#myans {
  font-size: 13pt;
}

#title {
  border: 2px;
  border-radius: 13px;
  margin-bottom: 8px;
  margin-top: 8px;
}